[submodule "Libs/Ace3"]
	path = Libs/Ace3
	url = https://github.com/WoWUIDev/Ace3.git
[submodule "Libs/LibAnimate"]
	path = Libs/LibAnimate
	url = https://github.com/Xerrion/LibAnimate
[submodule "Libs/LibDataBroker-1.1"]
	path = Libs/LibDataBroker-1.1
	url = https://github.com/tekkub/libdatabroker-1-1.git
[submodule "Libs/LibDBIcon-1.0"]
	path = Libs/LibDBIcon-1.0
	url = https://github.com/kaldown/LibDBIcon-1.0.git
[submodule "Libs/LibSharedMedia-3.0"]
	path = Libs/LibSharedMedia-3.0
	url = https://github.com/wowace-clone/LibSharedMedia-3.0.git
